/* public/css/style.css */

body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav#siteHeader {
    box-sizing: border-box;
    padding: 20px;
    background-color: #1db954;
    width: 100%;
}

nav#siteHeader ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    margin-left: 10px;
}

nav#siteHeader ul li {
    margin-right: 10px;
}

nav#siteHeader ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 16px;
    border-radius: 500px;
    transition: 0.3s;
}

nav#siteHeader ul li a:hover {
    background-color: #12883e;
}

#profileInfo,
#welcomeMessage {
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    color: #fff;
    background-color: #1db954;
    border: none;
    border-radius: 500px;
    padding: 18px 48px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
}

button:hover {
    background-color: #12883e;
}

a#loginButton {
    display: block;
    text-decoration: none;
}

#homeSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#gameSelection h1 {
    text-align: center;
    margin-top: 2rem;
}

.gameContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: auto;
}

.gameInfo {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.gameInfo h2 {
    color: white;
    margin: 0;
}

#higherOrLower {
    background-color: #1db954;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    transition: 0.5s;
    text-decoration: none;
}

#higherOrLower:hover {
    transform: scale(1.1);
}

#guessSong {
    background-color: #ffea00;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}

#guessSong:hover {
    transform: scale(1.1);
}

#placeHolder2 {
    background-color: #ff0000;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}

#placeHolder2:hover {
}

#placeHolder3 {
    background-color: #075aff;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}

#placeHolder3:hover {
}

#artistsFollowersAmount {
    background-color: #fb00ff;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    transition: 0.5s;
    text-decoration: none;
}

#artistsFollowersAmount:hover {
    transform: scale(1.1);
}

#secondOptionValue {
    display: none;
}

#artist-info {
    display: flex;
}

#artist-info div {
    text-align: center;
}

#vs-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 80px;
}

#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    font-size: 24px;
}

#firstOptionImage,
#secondOptionImage,
#noImage {
    width: 400px;
    height: 400px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#gameOverMessage {
    font-size: 48px;
}

#finalScore {
    font-size: 24px;
}

#highScore {
    font-size: 24px;
}

#gameOverMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#songImage {
    width: 500px;
    height: 500px;
}

#guessInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #1db954;
    background-color: #121212;
    color: #FFFFFF;
    font-size: 16px;
}

#guessInput::placeholder {
    text-align: center;
}

#song-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#guess-form {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#submitGuess{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    margin-top: 20px;
}

.locked {
    position: relative;
    pointer-events: none;
}

.locked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1;
    border-radius: 20px;
}

.locked::after {
    content: "Not available";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    z-index: 2;
}

#gameMenuButton {
    margin-top: 20px;
}